
@{
    ViewBag.Title = "HeartBeat Services";
    Layout = "~/Views/Shared/i1.cshtml";
}


<!-- Theme Banner ________________________________ -->
<div class="main-page-wrapper">
    <div id="banner">
        <div class="rev_slider_wrapper">
            <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
            <div id="main-banner-slider" class="rev_slider" data-version="5.0.7">
                <ul>

                    <!-- SLIDE1  -->
                    <li data-index="rs-280" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="Title Goes Here" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="@Url.Content("~/Content/HB/")images/New_Images/Y3.jpg" alt="image" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-56','-56','-45','-150']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">

                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['20','25','30','-85']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="2000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">
                            <h1> <span class="p-color">Customer</span> <span class="p-color" style="color:black;"> Commitiment</span></h1>
                        </div>


                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','80']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['192','217','227','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','155']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>

                    </li>


                    <!-- SLIDE2  -->
                    <li data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/home/slide-2.jpg" data-rotate="0" data-saveperformance="off" data-title="Title Goes Here" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="@Url.Content("~/Content/HB/")images/New_Images/Final_s3.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-56','-56','-36','-150']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">

                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['20','20','45','-85']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="2000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">
                            <h1 class="center-item">We deliver <span class="p-color"> Products with </span> Quality </h1>
                        </div> 


                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption"
                             data-x="['center','center','center','center']" data-hoffset="['-87','-87','-87','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','80']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption"
                             data-x="['center','center','center','center']" data-hoffset="['105','105','105','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','155']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>
                    </li>


                    <!-- SLIDE3  -->
                    <li data-index="rs-20" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/home/slide-5.jpg" data-rotate="0" data-saveperformance="off" data-title="Title Goes Here" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="@Url.Content("~/Content/HB/")images/New_Images/ss3.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-56','-56','-45','-150']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">

                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['20','25','30','-85']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="2000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">
                            <h2>Customer <span class="p-color"> Satisfaction Is </span> Our Goal </h2>
                        </div>


                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','80']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['192','217','227','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','155']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>
                    </li>
                    <!-- SLIDE4  -->
                    <li data-index="rs-22" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/home/slide-5.jpg" data-rotate="0" data-saveperformance="off" data-title="Title Goes Here" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="@Url.Content("~/Content/HB/")images/New_Images/Final_s2.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-56','-56','-45','-150']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">

                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['20','25','30','-85']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="2000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">
                           
                        </div>


                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','80']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['192','217','227','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','155']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>
                    </li>

                    <!-- SLIDE5  -->
                    <li data-index="rs-23" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/home/slide-5.jpg" data-rotate="0" data-saveperformance="off" data-title="Title Goes Here" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="@Url.Content("~/Content/HB/")images/New_Images/Final_S1.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-56','-56','-45','-150']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">

                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['20','25','30','-85']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="2000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">
                           
                        </div>


                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','80']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['192','217','227','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','155']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>
                    </li>
                    

                </ul>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
</div>
<!--  /#banner -->
<div class="course-search-option wow fadeInUp">

    @*<div class="container">
        </div>*@

</div>


<!-- Welcome Section ___________________________ -->

<div class="welcome-section-two">
    <div class="container">
        <div class="section-title wow fadeInUp">
            <h2 class="p-color">Heartbeat <span style="color:black;font-weight:bold"> Business </span> Solutions </h2>
            <h5>SUCCESS WITH OUR CLIENTS</h5>
            <p>
                At Heartbeat we provide IT Business Solutions to companies. We develop software that target the basic business needs like websites, mobile apps, time tracking , scheduling and workflow systems.The fact is everything in the world of IT has transformed in the last couple of years. The Web and Mobile markets have expanded and now there is a huge mobile/web market that can transform your business. No business should be left behind! It is so easy to get set up and all businesses should take advantage. The most important thing is knowing what to do and how to do it efficiently and effectively.<br /><br />As <span style="color:#ffa333;font-weight:bold">Bill Gates</span> Once Said :
                </br></br>
                "The first rule of any technology used in a business is that automation applied to an efficient operation will magnify the efficiency. The second is that automation applied to an inefficient operation will magnify the inefficiency."
            </p>
        </div> <!-- /.section-title -->

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <h3>SMALL BUSSINES</h3>
                <p>If your small or medium sized business needs a website, we can help. If you are in need of more than just web design, we have solutions for you. </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
                <i class="fa fa-tags" aria-hidden="true"></i>
                <h3>HOW TO COMPETE </h3>
                <p>Creating a technology platform that helps your business thrive in a disruptive marketplace takes experience and an understanding of how IT systems interact with each other. </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
                <i class="fa fa-diamond" aria-hidden="true"></i>
                <h3>KEY TO SUCCESS</h3>
                <p>
                    If you provide better service for your customers, they'll be more inclined to come to you the next time they need something instead of going to your competition.
                </p>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.welcome-section -->
<!-- Event Section _______________________ -->

 <!-- /.event-section -->


<!-- Information Banner _______________________ -->
    
 <!-- /.information-banner -->


<!-- Popular Course _________________________ -->
<div class="popular-course wow fadeInUp theme-bg-color mFix">
    <div class="container">
        <h2>Expert <span style="color:#ffa333;"> Services We </span> Provide</h2>

        <div class="row">
            <div class="theme-slider course-item-wrapper">
                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/Time_Sheet.jpg" alt="Image"></div>
                    <div class="text">
                        <h4><a href="">TIME SHEET SOLUTION</a></h4>
                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/New_Images/Time_Sheet.png"></div>
                       
                        <p>Timesheet can be used on any operating system of your choice because it requires a web browser to run.</p>
                        
                    </div> <!-- /.text -->
                </div> <!-- /.item -->

                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/HBS_Shedule.jpg" alt="Image"></div>
                    <div class="text">
                        <h4><a href="">HBS SCHDULING SOLUTION</a></h4>
                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/New_Images/HBS_Shedule.png" alt="Image"></div>
                        
                        <p>HBS Scheduling is functional,powerful scheduling software designed to help you grow and manage your business. </p>
                        
                    </div> <!-- /.text -->
                </div> <!-- /.item -->

                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/REG_Solv.jpg" alt="Image"></div>
                    <div class="text">
                        <h4><a href="">Registration Solution</a></h4>
                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/New_Images/REG_Solv.png" alt="Image"></div>
                        
                        <p> HBS introduce that we need to use smart solutions to balance security with ease of use it has been an incredibly smooth experience.</p>
                        
                    </div> <!-- /.text -->
                </div> <!-- /.item -->

                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/VS_SOLV.jpg" alt="Image"></div>
                    <div class="text">
                        <h4><a href="">VS SOLUTION</a></h4>
                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/New_Images/VS_SOLV.png" alt="Image"></div>
                       
                        <p>
                            When you create an app, website, Web App, script, plug-in, etc in Visual Studio, you start with a project. In a logical sense
                        </p>
                        
                    </div> <!-- /.text -->
                </div> <!-- /.item -->

                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/Web_GS.jpg" alt="Image"></div>
                    <div class="text">
                        <h4><a href="">WEB GRAPHICS SOLUTION</a></h4>
                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/New_Images/Web_Gs.png" alt="Image"></div>
                        
                        <p>Heartbeat Services Solutions we offer a wide range of Web and Graphic design product for your company. </p>
                       
                    </div> <!-- /.text -->
                </div> <!-- /.item -->

                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/The_App.jpg" alt="Image"></div>
                    <div class="text">
                        <h4><a href="">THE APP SOLUTION</a></h4>
                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/New_Images/The_App.png" alt="Image"></div>
                        
                        <p>App Solutions is a team of mobile app developers with experience measured by many of successfully completed projects.</p>
                        
                    </div> <!-- /.text -->
                </div> <!-- /.item -->

                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/DB_Solv.jpg" alt="Image"></div>
                    <div class="text">
                        <h4><a href="">DATABASE SOLUTION</a></h4>
                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/New_Images/DB_Solv.png" alt="Image"></div>
                        
                        <p>We build custom database solutions for any size business tailored to your specific needs and company Requirement.</p>
                        
                    </div> <!-- /.text -->
                </div> <!-- /.item -->

                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/SQL_Server.jpg" alt="Image"></div>
                    <div class="text">
                        <h4><a href="">SQL SERVER SOLUTION</a></h4>
                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/New_Images/Sql_Server.png" alt="Image"></div>
                        
                        <p>SQL Server Management Studio provides containers called projects for managing items such as database scripts and files.</p>
                        
                        
                    </div> <!-- /.text -->
                </div> <!-- /.item -->
            </div> <!-- /.course-slider -->
        </div>
    </div> <!-- /.container -->
</div> <!-- /.popular-course -->


 


<!-- Latest News ___________________________ -->

<div class="latest-news wow fadeInUp theme-bg-color">
    <div class="container">
        <div class="theme-title">
            <h2>Clients <span style="color:#ffa333;"> Review </span> </h2>
            <p>What Clints Says about HBS</p>
        </div>

        <div class="post-wrapper row">
            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">

                    <img src="@Url.Content("~/Content/HB/")images/New_Images/Final_1 (2).jpg" alt="Image">
                    <a href="#" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="#">About Heartbeat Services </a>
                        <p>My business relationship with HBS has been nothing short of terrific. From reviewing my project with their team to choosing a highly-talented developer, and all the way through releasing our application, it has been an incredibly smooth and successful experience.."  </p>
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->

            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">

                    <img src="@Url.Content("~/Content/HB/")images/New_Images/Final_1 (4).jpg" alt="Image">
                    <a href="#" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="#">Awesome Experince With HBS </a>
                        <p>"We’ve had multiple needs for various development talent and HBS doesn’t disappoint. They truly focus on matching the best developer to our specific engagements, and they continue to stay connected in an effort to exceed our expectations at all times.</p>
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->

            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">

                    <img src="@Url.Content("~/Content/HB/")images/New_Images/cr3.jpg" alt="Image">
                    <a href="#" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="#">Best Experince with HBS </a>
                        <p>We had great experiencs with our HBS designer. we accomplished what would’ve taken most companies 3 months to complete. We also enjoyed working with the HBS team to make sure we were paired up with right designer that would fit both our company.</p>
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->
        </div> <!-- /.post-wrapper -->
    </div> <!-- /.container -->
</div> <!-- /.latest-news -->
<!-- Testimonial And FAQ Section _________________________ -->

<div  class="test-faq">
    <div id="About_Us" class="container">
        <div  class="row">
            <div  class="col-lg-6 col-md-6 col-sm-12 col-xs-12 testimonial wow fadeInLeft">
              <div class="wrapper">
                    <h3 style="font-size: 36px;text-transform: uppercase;"> <span style="color:#ffa333;font-weight:bold">About</span>  HBS</h3>

                    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                       
                        

                       
                        <div class="carousel-inner" >
                            <div class="item active">
                                <div class="single-box theme-bg-color">
                                    <p>
                                        Comprehensive Solutions. Many vendors can only supply one facet of your technology requirements. As your trusted partner, HBS can provide both breadth (Application Services, IT Services and Managed Services) of offerings and depth of expertise to deliver real business value. Culture of Execution. To each engagement, HBS brings four core principles of its culture:
                                        Superior Customer Care, Complex Problem Solving, Hard Work, and Honesty These principles drive a culture of execution that leads to success with each of our clients Consultative Approach We are not looking to sell something and walk away We take pride in understanding your business challenges and driving to the right technology solution to meet your needs.Fair Price We provide affordable technology solutions that reduce cost and drive efficiency gains. Superior Customer Experience. Customer success is our highest priority.
                                    </p>
                                    
                                    
                                </div> 

                                
                            </div>

                                                       
                        </div>
                    </div>







                    
                </div>
            </div> <!-- /.testimonial -->



            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 faq wow fadeInRight">
                <div class="wrapper">
                    <h3 style="">
                        
                    </h3>
                    <a href="@Url.Action("Contact","Home")" class="p-color-bg tran3s wow fadeInUp" style="line-height:40px;font-size:large;text-align:center;width:180px;visibility: visible; animation-name: fadeInUp; color: black;font-family: 'Open Sans', sans-serif;font-weight: 600;text-transform: uppercase;">Hire Us</a>

                <br /><br /><br />
                
                    <div class=" item hvr-float">
                        <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/Final_1 (14).jpg" alt="Image"></div>

                    </div>
               

                    

                    <!-- ________________ Panel _______________ -->

                   
                </div> <!-- /.wrapper -->

            </div> <!-- /.faq -->
            
        </div> <!-- /.row -->
        
        <!-- Our Recent Clients _________________________ -->
        <div class="popular-course wow fadeInUp theme-bg-color">
            <div class="container">
                <h2>Our <span style="color:#ffa333;"> Recent </span> Clients</h2>

                <div class="row">
                    <div class="theme-slider course-item-wrapper">
                        <div class="item hvr-float-shadow">
                            <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/ps1.jpg" alt="Image"></div>
                            
                        </div> <!-- /.item -->

                        <div class="item hvr-float-shadow">
                            <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/ps3.jpg" alt="Image"></div>
                            
                        </div> <!-- /.item -->

                        <div class="item hvr-float-shadow">
                            <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/ps4.jpg" alt="Image"></div>
                            
                        </div> <!-- /.item -->

                        <div class="item hvr-float-shadow">
                            <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/ps5.jpg" alt="Image"></div>
                            
                        </div> <!-- /.item -->

                        <div class="item hvr-float-shadow">
                            <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/ps6 copy.jpg" alt="Image"></div>
                            
                        </div> <!-- /.item -->

                        <div class="item hvr-float-shadow">
                            <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/ps7.jpg" alt="Image"></div>
                            
                        </div> <!-- /.item -->

                        <div class="item hvr-float-shadow">
                            <div class="img-holder"><img src="@Url.Content("~/Content/HB/")images/New_Images/pss1.jpg" alt="Image"></div>
                            
                        </div> <!-- /.item -->


                    </div> <!-- /.course-slider -->
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.Our Recent Clients -->

        
    </div> <!-- /.container -->
</div> <!-- /.test-faq -->
