
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/i1.cshtml";
}


<!-- Theme Banner ________________________________ -->
<div class="main-page-wrapper">
    <div id="banner">
        <div class="rev_slider_wrapper">
            <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
            <div id="main-banner-slider" class="rev_slider" data-version="5.0.7">
                <ul>

                    <!-- SLIDE1  -->
                    <li data-index="rs-280" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="Title Goes Here" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="@Url.Content("~/Content/HB/")images/New_Images/h3.jpg" alt="image" class="rev-slidebg" data-bgparallax="3" data-bgposition="center center" data-duration="20000" data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0" data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100" data-scalestart="140">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-56','-56','-45','-150']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">

                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['20','25','30','-85']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="2000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">
                            <h1>We Provide <span class="p-color">Specialized Service</span> <br>To Index Your <span class="p-color">Data For Fast Searching</span></h1>
                        </div>


                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','80']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['192','217','227','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','155']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>

                    </li>


                    <!-- SLIDE2  -->
                    <li data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/home/slide-2.jpg" data-rotate="0" data-saveperformance="off" data-title="Title Goes Here" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="@Url.Content("~/Content/HB/")images/New_Images/h2.jpeg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-56','-56','-36','-150']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">

                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['20','20','45','-85']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="2000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">
                            <h1 class="center-item">Meet your new <span class="p-color">Solution</span> <br>HeartBeat</h1>
                        </div>


                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption"
                             data-x="['center','center','center','center']" data-hoffset="['-87','-87','-87','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','80']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption"
                             data-x="['center','center','center','center']" data-hoffset="['105','105','105','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','155']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>
                    </li>


                    <!-- SLIDE3  -->
                    <li data-index="rs-20" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="images/home/slide-5.jpg" data-rotate="0" data-saveperformance="off" data-title="Title Goes Here" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="@Url.Content("~/Content/HB/")images/New_Images/h1.jpeg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-56','-56','-45','-150']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">

                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['20','25','30','-85']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="2000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; white-space: nowrap;">
                            <h2>HEART-BEAT <span class="p-color">AWESOME SUCCESS WITH OUR CLIENTS</span> <br>OF LIFE</h2>
                        </div>


                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','80']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[-100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption"
                             data-x="['left','left','left','left']" data-hoffset="['192','217','227','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['205','205','210','155']"
                             data-transform_idle="o:1;"
                             data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                             data-transform_in="x:[100%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2500;e:Power3.easeInOut;"
                             data-transform_out="auto:auto;s:1000;e:Power2.easeInOut;"
                             data-start="3000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">

                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
    </div>
            <!--  /#banner -->
    <div class="course-search-option wow fadeInUp">

            @*<div class="container">
            </div>*@

        </div>


    <!-- Welcome Section ___________________________ -->

    <div class="welcome-section-two">
        <div class="container">
            <div class="section-title wow fadeInUp">
                <h2 class="p-color">Done in a HeartBeat.</h2>
                <h5>awesome success with our Clients</h5>
                <p>
                    Here at Heartbeat we love to help anyone that has an I.T need for their business. We develop software that target the basic business needs like websites, mobile apps, time tracking , scheduling and workflow systems.The fact is everything in the world of IT has transformed in the last couple of years. The Web and Mobile markets have expanded and now there is a huge mobile/web market that can transform your business. No business should be left behind! It is so easy to get set up and all businesses should take advantage. The most important thing is knowing what to do and how to do it efficiently and effectively. As Bill Gates once said:
                    </br></br>
                    "The first rule of any technology used in a business is that automation applied to an efficient operation will magnify the efficiency. The second is that automation applied to an inefficient operation will magnify the inefficiency."
                </p>
            </div> <!-- /.section-title -->

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <h3>SMALL BUSSINES</h3>
                    <p>If your small or medium sized business needs a website, we can help. If you are in need of more than just web design, we have solutions for you. </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    <h3>HOW TO COMPETE </h3>
                    <p>Creating a technology platform that helps your business thrive in a disruptive marketplace takes experience and an understanding of how IT systems interact with each other—and the people who use them. </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
                    <i class="fa fa-diamond" aria-hidden="true"></i>
                    <h3>KEY TO SUCCESS</h3>
                    <p>
                        If you provide better service for your customers, they'll be more inclined to come to you the next time they need something instead of going to your competition.
                    </p>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.welcome-section -->
    <!-- Event Section _______________________ -->

    <div class="event-section wow fadeInUp">
        <div class="container">
            <div class="theme-title">
                <h2>SEARCHING SOLUTIONS</h2>
                <p>Our Elastic searching solutions</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
                    <div class="single-event theme-bg-color">
                        <div class="date p-color">25 <span>June</span></div>
                        <a href="event-details.html"><h6>What is Elastic Search</h6></a>
                        <p>Elasticsearch is an open source search analytics engine on Lucene designed to operate in real time. </p>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
                        </ul>
                    </div> <!-- /.single-event -->
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
                    <div class="single-event theme-bg-color">
                        <div class="date p-color">26 <span>June</span></div>
                        <a href="event-details.html"><h6>APIs & query DSLs.</h6></a>
                        <p> ElasticSearch offers ways to extend searching capabilities through the use of APIs and query DSLs. </p>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
                        </ul>
                    </div> <!-- /.single-event -->
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
                    <div class="single-event theme-bg-color">
                        <div class="date p-color">27 <span>June</span></div>
                        <a href="event-details.html"><h6>Advantages ElasticSearch</h6></a>
                        <p>Distributed approach - Indices can be divided into shards, with each shard able to have any number of replicas.</p>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
                        </ul>
                    </div> <!-- /.single-event -->
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
                    <div class="single-event theme-bg-color">
                        <div class="date p-color">28 <span>June</span></div>
                        <a href="event-details.html"><h6>ElasticSearch or a Database</h6></a>
                        <p>If you want to try out ElasticSearch, one way to do so is to use a service like Morpheus, which offers databases as a service on the cloud.</p>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
                        </ul>
                    </div> <!-- /.single-event -->
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
                    <div class="single-event theme-bg-color">
                        <div class="date p-color">29 <span>June</span></div>
                        <a href="event-details.html"><h6>Search the right tool</h6></a>
                        <p>If you are seeking a database for saving and retrieving data outside of searching, you may find a NoSQL or relational database a better fit,</p>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
                        </ul>
                    </div> <!-- /.single-event -->
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
                    <div class="single-event theme-bg-color">
                        <div class="date p-color">30 <span>June</span></div>
                        <a href="event-details.html"><h6>Relations Constraints</h6></a>
                        <p>Elasticsearch is a document oriented database. The entire object graph you want to search needs to be indexed, so before indexing your documents. </p>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
                        </ul>
                    </div> <!-- /.single-event -->
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.event-section -->
    <!-- Information Banner _______________________ -->

    <div class="information-banner wow fadeInUp">
        <div class="container">
            <h3>Information for our team member and clients  & <span class="p-color">HBS news</span></h3>
            <h6>ONE OF THE MOST COMPLETE IT SOLUTION THEME</h6>
            <a href="contact-us.html" class="p-color-bg tran3s wow fadeInUp">Contact us</a>
        </div> <!-- /.container -->
    </div> <!-- /.information-banner -->
    <!-- Latest News ___________________________ -->

    <div class="latest-news wow fadeInUp theme-bg-color">
        <div class="container">
            <div class="theme-title">
                <h2>Clients Review</h2>
                <p>What Clints Says about HBS</p>
            </div>

            <div class="post-wrapper row">
                <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="img-holder">

                        <img src="@Url.Content("~/Content/HB/")images/blog/19.jpg" alt="Image">
                        <a href="blog-details.html" class="tran4s"></a>
                    </div>
                    <div class="text-wrapper">
                        <div class="text tran4s">
                            <a href="blog-details.html">About Heartbeat Services </a>
                            <p>My business relationship with HBS has been nothing short of terrific. From reviewing my project with their team to choosing a highly-talented developer, and all the way through releasing our application, it has been an incredibly smooth and successful experience.."  </p>
                        </div> <!-- /.text -->
                    </div> <!-- /.text-wrapper -->
                </div> <!-- /.single-post -->

                <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="img-holder">

                        <img src="@Url.Content("~/Content/HB/")images/blog/17.jpg" alt="Image">
                        <a href="blog-details.html" class="tran4s"></a>
                    </div>
                    <div class="text-wrapper">
                        <div class="text tran4s">
                            <a href="blog-details.html">Awesome Experince With HBS </a>
                            <p>"We’ve had multiple needs for various development talent and HBS doesn’t disappoint. They truly focus on matching the best developer to our specific engagements, and they continue to stay connected in an effort to exceed our expectations at all times</p>
                        </div> <!-- /.text -->
                    </div> <!-- /.text-wrapper -->
                </div> <!-- /.single-post -->

                <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="img-holder">

                        <img src="@Url.Content("~/Content/HB/")images/blog/18.jpg" alt="Image">
                        <a href="blog-details.html" class="tran4s"></a>
                    </div>
                    <div class="text-wrapper">
                        <div class="text tran4s">
                            <a href="blog-details.html">Best Experince with HBS </a>
                            <p>We had great experiencs with our HBS designer. we accomplished what would’ve taken most companies 3 months to complete. We also enjoyed working with the HBS team to make sure we were paired up with right designer that would fit both our company culture and working style. </p>
                        </div> <!-- /.text -->
                    </div> <!-- /.text-wrapper -->
                </div> <!-- /.single-post -->
            </div> <!-- /.post-wrapper -->
        </div> <!-- /.container -->
    </div> <!-- /.latest-news -->
    <!-- Testimonial And FAQ Section _________________________ -->

    <div class="test-faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 testimonial wow fadeInLeft">
                    <div class="wrapper">
                        <h3>TESTIMONIALS</h3>
                        <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                                <li data-target="#testimonial-carousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="single-box theme-bg-color">
                                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/home/16.png" alt="Image"></div>
                                        <h6>Umais Siddiqui <span>Lead Software Architect</span></h6>
                                        <p>
                                            As Lead Software Architect, Umais manage several projects at HBS and overseas design and architect aspects. Currently he is also working at a publishing house as digital asset management administrator and work on custom development requests from the business. Previously, he worked for a leading health care firm, Trizetto Group, where he have played a major role in creating architectural patterns, designing and programming critical features in the Medicare products by applying the best practices and software development principles that best fit the business model. Umais have eight plus years of experience in software development and has expertise in C#, ASP.NET, WCF,XML, Javascripting, AJAX,SQL Server, MVC, HTML 5.
                                            Linkin Profile
                                            Email :Umais@heartbeat-biz.com
                                        </p>
                                    </div> <!-- /.single-box -->

                                    <div class="single-box theme-bg-color">
                                        <div class="img round-border"><@Url.Content("~/Content/HB/")img src="images/home/17.png" alt="Image"></div>
                                        <h6>Muhammad Adnan<span>Chief Financial Officer</span></h6>
                                        <p>As Chief Financial Officer, Muhammad is responsible to manage all the financial matters of the company. He holds 14 years of rich experience in renowned multinational companies in senior management roles. Prior to joining HBS he was working as Financial Controller in Eltek Pakistan (A Norwegian company that specializes in power solutions). Adnan has completed his MBA and MS from Pakistan.</p>
                                    </div> <!-- /.single-box -->
                                </div>

                                <div class="item">
                                    <div class="single-box theme-bg-color">
                                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/home/12.png" alt="Image"></div>
                                        <h6>Tayyib Siddiqui <span>(Relationship Manager)</span></h6>
                                        <p>
                                            As Relationship Manager , Tayyib is responsible to maintaining customer relationship and business development. His product knowledge and business skills are well suited with the operations of HBS. He started his career as Application Analyst in 2010 and currently working as Technical consultant / Account Representative at Nexelus. In his current role at Nexelus , he provide implementation and other technical services to clients and assist them during deployments. He have eight plus years of experience in maintaining customer relationship and has expertise in SQL Server , Data Analysis, Application Support, ERP systems , customer support and financial accounting. He have completed his Bachelor’s degree from Karachi University in Accounting and obtained his MBA from ZABIST in Accounting and Finance.
                                            www.linkedin.com/in/tayyibsiddiqui Email : Tayyib@heartbeat-biz.com
                                        </p>
                                    </div> <!-- /.single-box -->

                                    <div class="single-box theme-bg-color">
                                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/home/13.png" alt="Image"></div>
                                        <h6>Saqib Siddqui<span>(Lead Software Developer)</span></h6>
                                        <p>
                                            As Lead Software Developer, Saqib is responsible for developing and designing all our projects and solutions at HBS. He started his career as web developer in 2005 and quickly moved up to a senior level software developer for a prestigious IT company. Saqib have nine plus years of experience in software developments and has expertise in LINQ, JQuery, ASP.NET, Microsoft SQL Server, Entity framework and .NET. He completed his bachelors from Queens College in computer sciences.
                                            www.linkedin.com/in/najamsaqib
                                            Email : Saqib@heartbeat-biz.com
                                        </p>
                                    </div> <!-- /.single-box -->
                                </div>

                                <div class="item">
                                    <div class="single-box theme-bg-color">
                                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/home/14.png" alt="Image"></div>
                                        <h6>Raheel Siddiqui<span>(Relationship Manager and Project Manager)</span></h6>
                                        <p>
                                            As Relationship Manager and Project Manager, Raheel is responsible for business developments and overseas the project life cycle. He started his career as Relationship Manager for a saving bank and moved up to Senior KYC (Know Your Customer) Specialist for a fortune 500 company, Nordea Bank. In his current capacity at Nordea Bank, he is responsible for overseeing several compliance projects and provide project reporting to senior management. He have eight plus years of experience in corporate world and has strong presentation and leadership skills. Have intense knowledge on bank regulatory requirements and Anti Money Laundering. He have expertise in due diligence process , MS Suits , financial analysis Microsoft Project. He completed his Bachelor’s degree from York College in Business Administration and Management and earned MBA from Long Island University in Finance. He is Certified Anti Money Laundering Specialist (CAMS) and also earned Six Sigma – Green belt certification.
                                            www.linkedin.com/pub/raheel-siddiqui/6/52/19b/
                                            Email : raheel@heartbeat-biz.com
                                        </p>
                                    </div> <!-- /.single-box -->

                                    <div class="single-box theme-bg-color">
                                        <div class="img round-border"><img src="@Url.Content("~/Content/HB/")images/home/15.png" alt="Image"></div>
                                        <h6>Naveed Aziz <span>(Lead System Engineer)</span></h6>
                                        <p>As Lead System Engineer, Naveed is responsible to transpose the business requirements into system design and layout a foundation. He started working at Trizetto Group in 2008 as data analyst and quickly moved up to Scrum Master and mentor one of the Product teams in Trizetto under Trizetto Medicare Solutions Group. Naveed have eight plus years of experience in system QA, Agile Methodologies , Scrum, SDLC, Requirement Analysis, Microsoft SQL Server and Web Services. He have earned Bachelor’s degree in Information Technology from Baruch college.</p>
                                    </div> <!-- /.single-box -->
                                </div>
                            </div>
                        </div> <!-- /#testimonial-carousel -->
                    </div> <!-- /.wrapper -->
                </div> <!-- /.testimonial -->

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 faq wow fadeInRight">
                    <div class="wrapper">
                        <h3>Frequently Asked Questions</h3>

                        <!-- ________________ Panel _______________ -->

                        <div class="faq_panel">
                            <div class="panel-group theme-accordion" id="accordion">
                                <div class="panel">
                                    <div class="panel-heading active-panel">
                                        <h6 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                What are the types of  databases?
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>Databases can be as many and as varied as there are people who use a computer to store information. However, they can be generally categorized according to their purpose.</p>
                                        </div>
                                    </div>
                                </div> <!-- /panel 1 -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                Why String is final in Java?
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem Nemo enim ipsam voluptatemString is final because of same reason it is immutable. Couple of reasons which I think make sense is implementation of String pool, Security, and Performance. Java designers knows that String will be used heavily in every single Java program, so they optimized it from the start.

                                            </p>
                                        </div>
                                    </div>
                                </div> <!-- /panel 2 -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                How to download the HTML shiv
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>If you want to download and then upload the HTML shiv on your web server then you can simply go directly to the page http://html5shiv.googlecode.com/svn/trunk/html5.js, and copy and paste the code into a Javascript file on your own server, and then point to that file in the src attribute shown above.</p>
                                        </div>
                                    </div>
                                </div> <!-- /panel 3 -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                Does C++ have a keyword for “abstract”?
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>No, C++ does not use the abstract keyword to describe abstract classes. But, just because C++ does not use the abstract keyword, that does not mean that it doesn’t have abstract classes. In C++, abstract classes are created through the use of pure virtual functions.</p>
                                        </div>
                                    </div>
                                </div> <!-- /panel 4 -->

                                <div class="panel">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                                What mobile automation testing tools do you know?
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>The means of automation are usually chosen subjectively depending on project needs and application type. Among good paid automation tools available today are Ranorex, Silk Mobile, SeeTest, etc. There are also worthy free tools like Appium, Robotium, KIF, Calabash, etc., but using these requires certain coding skills such as Java or Ruby.</p>
                                        </div>
                                    </div>
                                </div> <!-- /panel 5 -->

                            </div> <!-- end #accordion -->
                        </div> <!-- End of .faq_panel -->
                    </div> <!-- /.wrapper -->
                </div> <!-- /.faq -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.test-faq -->


