
@{
    ViewBag.Title = "HeartBeat Services";
    Layout = "~/Views/Shared/i1.cshtml";
}


<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
    <div class="opacity">
        <div class="container">
            <h2>HBS <span style="color:#ffa333;font-weight:bold">PORTFOLIO</span></h2>
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->

<!-- Page Breadcrum __________________________ -->
<div class="page-breadcrum">
    <div class="container">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>-</li>
            <li>PORTFOLIO</li>
        </ul>
    </div> <!-- /.container -->
</div> <!-- /.page-breadcrum -->

<!-- Latest News ___________________________ -->
<div class="latest-news wow fadeInUp theme-bg-color">
    <div class="container">
        <div class="theme-title">
            <h2>Web <span style="color:#ffa333;font-weight:bold">Sites</span></h2>
            
        </div>

        <div class="post-wrapper row">
            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">
                    
                    <img src="@Url.Content("~/Content/HB/")images/New_Images/new-AUJ.jpg" alt="Image">
                    <a href="@Url.Action("Portfolio_Detail","Home")" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="@Url.Action("Portfolio_Detail","Home")"> Independent <span style="color:#ffa333;font-weight:bold"> Developers </span></a>
                        
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->

            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">
                    
                    <img src="@Url.Content("~/Content/HB/")images/New_Images/new-portfolio.jpg" alt="Image">
                    <a href="@Url.Action("Portfolio_Detail","Home")" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="@Url.Action("Portfolio_Detail","Home")"> Independent <span style="color:#ffa333;font-weight:bold"> Developers </span></a>
                       
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->

            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">
                    
                    <img src="@Url.Content("~/Content/HB/")images/New_Images/new-CH.jpg" alt="Image">
                    <a href="@Url.Action("Portfolio_Detail","Home")" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="@Url.Action("Portfolio_Detail","Home")"> Independent <span style="color:#ffa333;font-weight:bold"> Developers </span></a>
                        
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->

            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">
                    
                    <img src="@Url.Content("~/Content/HB/")images/New_Images/new-ICNA.jpg" alt="Image">
                    <a href="@Url.Action("Portfolio_Detail","Home")" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="@Url.Action("Portfolio_Detail","Home")"> Independent <span style="color:#ffa333;font-weight:bold"> Developers </span></a>
                        
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->

            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">
                    
                    <img src="@Url.Content("~/Content/HB/")images/New_Images/new-ptb.jpg" alt="Image">
                    <a href="@Url.Action("Portfolio_Detail","Home")" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="@Url.Action("Portfolio_Detail","Home")"> Independent <span style="color:#ffa333;font-weight:bold"> Developers </span></a>
                        
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->

            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">                    
                    <img src="@Url.Content("~/Content/HB/")images/New_Images/new-AC.jpg" alt="Image">
                    <a href="@Url.Action("Portfolio_Detail","Home")" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="@Url.Action("Portfolio_Detail","Home")"> Independent <span style="color:#ffa333;font-weight:bold"> Developers </span></a>                        
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->

        </div> <!-- /.post-wrapper -->
    </div> <!-- /.container -->
</div> <!-- /.latest-news -->

