<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- For Responsive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="@Url.Content("~/Content/HB/")images/logo/logo.png">


    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/HB/")css/style.css">
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/HB/")css/responsive.css">
    <!-- Js File_________________________________ -->
    <!-- j Query -->
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/jquery-2.1.4.js"></script>

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/bootstrap/bootstrap.min.js"></script>

    <!-- Vendor js _________ -->
    <!-- revolution -->
    <script src="@Url.Content("~/Content/HB/")vendor/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="@Url.Content("~/Content/HB/")vendor/revolution/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/revolution/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/revolution/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/revolution/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/revolution/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/revolution/revolution.extension.actions.min.js"></script>

    <!-- Google map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvb9ER1azB7uJhQntx90YP88QFXNYCo_g&callback=initMap"></script> <!-- Gmap Helper -->
    <script src="@Url.Content("~/Content/HB/")vendor/gmap.js"></script>
    <!-- Validation -->
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/contact-form/validate.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/contact-form/jquery.form.js"></script>

    <!-- Bootstrap Select JS -->
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <!-- Time picker -->
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/time-picker/jquery.timepicker.min.js"></script>
    <!-- WOW js -->
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/WOW-master/dist/wow.min.js"></script>
    <!-- owl.carousel -->
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/owl-carousel/owl.carousel.min.js"></script>
    <!-- js count to -->
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/jquery.appear.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")vendor/jquery.countTo.js"></script>

    <!-- Theme js -->
    <script type="text/javascript" src="@Url.Content("~/Content/HB/")js/theme.js"></script>


</head>
<body>


    <!-- Header _________________________________ -->
    <header class="main-header">


        <div class="top-header" >
            <div class="container">
                <div class="left-side float-left">
                    <ul>
                        <li><span class="icon round-border"><i class="ficon flaticon-signs"></i></span> <a href="" class="tran3s">45/12 Best Avenue Street, UK 2450, US</a></li>
                        <li><span class="icon round-border"><i class="ficon flaticon-multimedia"></i></span> <a href="" class="tran3s">umais@heartbeat-biz.com</a></li>
                        <li><span class="icon round-border"><i class="ficon flaticon-technology"></i></span> <a href="" class="tran3s">+9177546930</a></li>
                        <li><span class="icon round-border"><i class="ficon flaticon-translation"></i></span> <a href="" class="tran3s">English</a></li>

                    </ul>
                </div><!-- /.left-side -->
                <div class="right-side float-right">
                    <ul>
                        <li><a href="#" class="tran3s round-border icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="tran3s round-border icon"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="tran3s round-border icon"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="tran3s round-border icon"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    </ul>
                </div> <!-- /.right-side -->
            </div>
        </div> <!-- /.top-header -->
        <!-- _______________________ Theme Menu _____________________ -->
        <div class="container">
            <div class="main-menu-wrapper clear-fix ">
                <div class="container">

                    <div class="logo float-left"><a href="@Url.Action("Index","Home")" style="vertical-align:middle;"><img src="@Url.Content("~/Content/HB/")images/logo/logo.png" alt="LOGO"></a></div>

                    @*<form action="#" class="float-right">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search-minus" aria-hidden="true"></i></button>
                        </form>*@

                    <!-- Menu -->
                    <nav class="navbar float-right">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav">

                                <li>@Html.ActionLink("Home", "Index", "Home")</li>

                                <li>@Html.ActionLink("About Us", "About", "Home")</li>

                                <li>@Html.ActionLink("PORTFOLIO", "Portfolio", "Home")</li>

                                <li>@Html.ActionLink("MEET THE TEAM", "MeetTeam", "Home")</li>

                                <li>@Html.ActionLink("CONTACT US", "Contact", "Home")</li>


                                <li>

                                </li>
                                <li>

                                </li>


                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div> <!-- /.main-menu-wrapper -->
        </div>



        <!-- _______________________ End Theme Menu _____________________ -->
        <div>
            @RenderBody()
        </div>

        <!-- Footer ______________________________ -->

        <footer>
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-about">
                            <h4>About Heartbeat Service</h4>
                            <p>Heartbeat Services we love to help anyone that has an I.T need for their business. We develop software that target the basic business needs like websites, mobile apps, time tracking , scheduling and workflow systems.</p>
                            
                            <ul>
                                <li><a href="#" class="tran3s round-border icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="tran3s round-border icon"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="tran3s round-border icon"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="tran3s round-border icon"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div> <!-- /.footer-about -->

                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 footer-contact">
                            <h4>CONTACT US</h4>
                            <ul>
                                <li>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <a href="mailto:helpneed@edutech.com" class="tran3s">umais@heartbeat-biz.com</a>
                                </li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <a href="tel:+8801712570051" class="tran3s">+9177546930</a>
                                </li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>16215 highland avenue,suit 7R NY 11432S</li>
                            </ul>
                        </div> <!-- /.footer-contact -->

                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 footer-quick-link">
                            <h4>Quick link</h4>
                            <ul>

                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                <li>@Html.ActionLink("PORTFOLIO", "Portfolio", "Home")</li>
                                <li>@Html.ActionLink("MEET THE TEAM", "MeetTeam", "Home")</li>
                                <li>@Html.ActionLink("CONTACT US", "Contact", "Home")</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.footer-quick-link -->

            <div class="bottom-footer">
                <p>Copyright 2017 &copy; <a href="http://heartbeat-biz.azurewebsites.net/" class="tran3s" target="_blank">The Heartbeat Service</a> <span>|</span> Designed by <span class="p-color">HBS Developers Team</span></p>
            </div> <!-- /.bottom-footer -->
            <!-- Scroll Top Button -->
            <button class="scroll-top tran3s p-color-bg">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>
        </footer>
    </header>
    <!-- pre loader  -->
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <!-- End Footer ______________________________ -->


</body>
</html>
